html{
    box-sizing: border-box;
}


h1 {
    font-size: 64px;
    font-family: 'Abel', sans-serif;
}

.jumbotron {
    margin: 0;
    text-align: center ;

}

ul {
    padding: 0;
    margin: 0;
    border: 0;
    display: table-row;
    text-align: center;
}

li {
    display: inline-grid;
}




img {
    width: 105px;
    border-radius: 50%;
    margin: 0;

}


body {
    background: #e6e6e6;
}



.nav-bar {
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 20px;
}


.nav-bar-text {
    text-align: center;
    padding-right: 8em;
    background-size: 20px;
}


.title-container>h1,
.title-container>h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
}



.codeupdesign,
.row {
    text-align: center;
}



.design {
    background:#e6563b;
    padding: 80px;
    border: 10px solid white;
    border-radius: 50%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
}



.develop {
    background: #DEA03D;
    padding: 80px;
    border: 10px solid white;
    border-radius: 50%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
}



.support {
    background: #7cb06c;
    padding: 80px;
    border: 10px solid white;
    border-radius: 50%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
}



.host {
    background: #00aba9;
    padding: 80px;
    border: 10px solid white;
    border-radius: 50%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

