* {
    box-sizing: border-box;
}


h1 {
    font-size: 64px;
    font-family: 'Abel', sans-serif;

}



h2 {
    font-size: 48px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

.p {
    font-family: 'Abel', sans-serif;
    float: left;
    text-align: center;
    font-size: 28px;
}


body > div.container > div > div:nth-child(1) > div > img{
    width: 105px;
    background: white;
}

body {
    background: #e6e6e6;


}

@media